
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Showvey</title>
    <link href="~/Content/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main-style.css" rel="stylesheet" />
</head>
<body class="body-Login-back">

    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
                <img src="~/Content/assets/img/logosputih.png" alt="" />
            </div>
            @RenderBody()
        </div>
    </div>
    @*@RenderSection("scripts", required: false)*@
    <script src="~/Content/assets/plugins/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
</body>
</html>
