USE [master]
GO
/****** Object:  Database [I:\IT\KERJA PRAKTEK\SHOWVEY_V2\SHOWVEY\SHOWVEY\APP_DATA\SHOWVEY.MODELS.SURVEYDATACONTEXT.MDF]    Script Date: 18/04/2017 20:18:40 ******/
CREATE DATABASE [I:\IT\KERJA PRAKTEK\SHOWVEY_V2\SHOWVEY\SHOWVEY\APP_DATA\SHOWVEY.MODELS.SURVEYDATACONTEXT.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Showvey.Models.SurveyDataContext.mdf', FILENAME = N'I:\IT\Kerja Praktek\Showvey_v2\Showvey\Showvey\App_Data\Showvey.Models.SurveyDataContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Showvey.Models.SurveyDataContext_log.ldf', FILENAME = N'I:\IT\Kerja Praktek\Showvey_v2\Showvey\Showvey\App_Data\Showvey.Models.SurveyDataContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [I:\IT\KERJA PRAKTEK\SHOWVEY_V2\SHOWVEY\SHOWVEY\APP_DATA\SHOWVEY.MODELS.SURVEYDATACONTEXT.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [I:\IT\KERJA PRAKTEK\SHOWVEY_V2\SHOWVEY\SHOWVEY\APP_DATA\SHOWVEY.MODELS.SURVEYDATACONTEXT.MDF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Accesses]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesses](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[PermissionId] [uniqueidentifier] NOT NULL,
	[IsGranted] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Accesses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Animates]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animates](
	[Id] [uniqueidentifier] NOT NULL,
	[QuestionId] [uniqueidentifier] NULL,
	[ImageId] [uniqueidentifier] NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[PosX] [float] NOT NULL,
	[PosY] [float] NOT NULL,
	[Depth] [int] NOT NULL,
	[TimeStart] [time](7) NOT NULL,
	[TimeEnd] [time](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Animates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [uniqueidentifier] NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[ImageTypeId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[Width] [float] NOT NULL DEFAULT ((0)),
	[Height] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageTypes]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[Width] [float] NOT NULL DEFAULT ((0)),
	[Height] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.ImageTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[FromId] [uniqueidentifier] NULL,
	[ToId] [uniqueidentifier] NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[ReceiverDeleted] [bit] NOT NULL DEFAULT ((0)),
	[ReceiverDeletedDate] [datetime] NULL,
	[SenderDeleted] [bit] NOT NULL DEFAULT ((0)),
	[SenderDeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestionAnswers]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswers](
	[Id] [uniqueidentifier] NOT NULL,
	[QuestionId] [uniqueidentifier] NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[OrderNumber] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.QuestionAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Number] [int] NOT NULL,
	[QuestionTypeId] [uniqueidentifier] NOT NULL,
	[TimeLength] [time](7) NOT NULL,
	[SurveyId] [uniqueidentifier] NOT NULL,
	[IsFreeText] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[Count] [int] NOT NULL DEFAULT ((0)),
	[IsScale] [bit] NOT NULL DEFAULT ((0)),
	[FontColor] [nvarchar](max) NULL,
	[FontSize] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestionTypes]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.QuestionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Respondents]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respondents](
	[Id] [uniqueidentifier] NOT NULL,
	[BrowserName] [nvarchar](max) NULL,
	[IPAdress] [nvarchar](max) NULL,
	[IsRegistered] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[SurveyId] [uniqueidentifier] NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[UserId] [uniqueidentifier] NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
 CONSTRAINT [PK_dbo.Respondents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Responses]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NULL,
	[QuestionId] [uniqueidentifier] NOT NULL,
	[ResponseAnswer] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[RespondentId] [uniqueidentifier] NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
 CONSTRAINT [PK_dbo.Responses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SurveyTypeId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[IsBlock] [bit] NOT NULL DEFAULT ((0)),
	[Description] [nvarchar](max) NULL,
	[IsCompleted] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Surveys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyTypes]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.SurveyTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/04/2017 20:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Birthdate] [datetime] NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedUserId] [uniqueidentifier] NULL,
	[DeletionUserId] [uniqueidentifier] NULL,
	[ModifiedUserId] [uniqueidentifier] NULL,
	[CityId] [uniqueidentifier] NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[RoleId] [uniqueidentifier] NOT NULL,
	[PasswordToken] [nvarchar](max) NULL,
	[PasswordTokenExpired] [datetime] NULL,
	[TokenActivated] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Accesses] ([Id], [RoleId], [PermissionId], [IsGranted], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'4a5898ed-87fa-4ff9-b9db-012429f1ac0d', N'1c170040-7c80-4085-8c1f-8632269bfcd3', N'949959d8-9b2f-4339-9436-2a82a4110a63', 1, 0, CAST(N'2016-12-05 12:08:59.460' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Accesses] ([Id], [RoleId], [PermissionId], [IsGranted], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'fc2d9662-4a63-457b-a51d-05ea3a9a0e97', N'1c170040-7c80-4085-8c1f-8632269bfcd3', N'4f68fd54-7b3c-40c2-99b4-6dac42ee6b0a', 1, 0, CAST(N'2016-12-05 12:06:36.623' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Accesses] ([Id], [RoleId], [PermissionId], [IsGranted], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'25cc608f-0349-4cdd-8064-06d98aa0dd69', N'1c170040-7c80-4085-8c1f-8632269bfcd3', N'192d8608-bfda-4c0f-93af-f5553d456d77', 1, 0, CAST(N'2016-12-05 12:20:10.087' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Animates] ([Id], [QuestionId], [ImageId], [Width], [Height], [PosX], [PosY], [Depth], [TimeStart], [TimeEnd], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'699a9513-336f-4295-ab5b-07d06f554dc0', N'5bfccf68-933d-4344-85be-1f344f69a4d2', N'47bd60c4-50e7-43da-89ce-c7fab257dc4c', 1920, 1080, 0, 0, 0, CAST(N'00:00:01' AS Time), CAST(N'00:00:01' AS Time), 0, CAST(N'2016-12-20 16:43:58.623' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Animates] ([Id], [QuestionId], [ImageId], [Width], [Height], [PosX], [PosY], [Depth], [TimeStart], [TimeEnd], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'e548f815-0c57-413d-852c-0c1f051c9376', N'2ce1004a-e695-4c04-9fbc-077c840f21ac', N'df447d18-59fb-429c-b0f5-8bad56457ace', 1200, 1032, 150, 0, 0, CAST(N'00:00:01' AS Time), CAST(N'00:00:01' AS Time), 0, CAST(N'2016-12-17 11:18:05.333' AS DateTime), NULL, CAST(N'2016-12-17 11:21:54.607' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Name], [CountryId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'00d04166-b754-4f07-b768-1861aacb0461', N'Ayam', N'e241191e-9e08-4ea0-be2e-232cf491795e', 1, CAST(N'2016-09-28 13:21:51.233' AS DateTime), CAST(N'2016-09-28 13:23:45.287' AS DateTime), CAST(N'2016-09-28 13:22:03.700' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Name], [CountryId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'9632d6f5-a4f4-4452-bff8-22a8800f9490', N'Jakarta', N'e241191e-9e08-4ea0-be2e-232cf491795e', 0, CAST(N'2016-09-22 22:21:12.950' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Name], [CountryId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'ed2a3e47-ec47-4f62-9cb2-fe537c027f67', N'Bandung', N'e241191e-9e08-4ea0-be2e-232cf491795e', 0, CAST(N'2016-09-30 22:31:00.623' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Countries] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'e241191e-9e08-4ea0-be2e-232cf491795e', N'Indonesia', 0, CAST(N'2016-09-22 11:09:29.003' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Countries] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'df5a9d18-5b2b-4363-ba2c-3c5f4edfcde7', N'c', 1, CAST(N'2016-09-28 14:10:11.153' AS DateTime), CAST(N'2016-12-05 14:11:34.703' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Images] ([Id], [Location], [Name], [ImageTypeId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Width], [Height]) VALUES (N'7598d40b-bf3d-4f9e-8aed-13ff7e322faf', N'/Content/assets/img/home/5.png', N'Fashionable-girl', N'fbeaa773-a047-4247-b6b0-677b31e33921', 0, CAST(N'2016-11-06 19:06:55.617' AS DateTime), NULL, CAST(N'2016-11-06 22:39:36.923' AS DateTime), NULL, NULL, NULL, 0, 0)
INSERT [dbo].[Images] ([Id], [Location], [Name], [ImageTypeId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Width], [Height]) VALUES (N'26319631-a60d-4601-a4ac-4ff5d7b89662', N'/Content/assets/img/home/slider/slide1/terminal.png', N'Terminal', N'e83b94fd-0a26-4ef5-a6d2-2c90afe4c3d2', 1, CAST(N'2016-11-06 19:08:08.697' AS DateTime), CAST(N'2016-11-08 20:17:37.810' AS DateTime), CAST(N'2016-11-06 22:40:03.800' AS DateTime), NULL, NULL, NULL, 0, 0)
INSERT [dbo].[Images] ([Id], [Location], [Name], [ImageTypeId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Width], [Height]) VALUES (N'9f36b6ec-7ef5-490d-8823-5e5ea1b20c65', N'/Pictures/Dialog/dialog2.png', N'Blue', N'57f880cf-9a5f-442a-befa-3b57760061f4', 0, CAST(N'2016-12-14 08:12:17.980' AS DateTime), NULL, CAST(N'2016-12-14 08:18:33.027' AS DateTime), NULL, NULL, NULL, 0, 0)
INSERT [dbo].[ImageTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Width], [Height]) VALUES (N'e83b94fd-0a26-4ef5-a6d2-2c90afe4c3d2', N'Background', 0, CAST(N'2016-10-28 08:58:43.377' AS DateTime), NULL, CAST(N'2016-11-08 20:20:05.467' AS DateTime), NULL, NULL, NULL, 1920, 1080)
INSERT [dbo].[ImageTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Width], [Height]) VALUES (N'57f880cf-9a5f-442a-befa-3b57760061f4', N'Dialog Box', 0, CAST(N'2016-10-28 08:59:28.730' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[ImageTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Width], [Height]) VALUES (N'fbeaa773-a047-4247-b6b0-677b31e33921', N'Character', 0, CAST(N'2016-10-28 08:59:01.690' AS DateTime), NULL, CAST(N'2016-11-08 23:50:58.150' AS DateTime), NULL, NULL, NULL, 478, 578)
INSERT [dbo].[Logs] ([Id], [Type], [Message], [CreatedDate]) VALUES (N'00000000-0000-0000-0000-000000000000', N'Insertion', N'failed to insert city Jaka to database', CAST(N'2016-09-22 11:09:56.540' AS DateTime))
INSERT [dbo].[Logs] ([Id], [Type], [Message], [CreatedDate]) VALUES (N'1854d312-190a-4f10-b255-04ba1248ace2', N'Update', N'failed to update survey from gyu to database', CAST(N'2016-10-16 17:18:12.053' AS DateTime))
INSERT [dbo].[Logs] ([Id], [Type], [Message], [CreatedDate]) VALUES (N'bb5f3ffe-3534-4a70-9d5e-07c1e1f4e93d', N'Insertion', N'failed to insert question answer b to database', CAST(N'2016-12-13 20:35:10.100' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [FromId], [ToId], [Message], [IsRead], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [ReceiverDeleted], [ReceiverDeletedDate], [SenderDeleted], [SenderDeletedDate]) VALUES (N'f6c611c8-5ecb-44f7-8f2f-106e6773b2e8', N'd476d7dd-2c03-417e-8397-6dc6437af953', N'ca5b916b-9754-4a57-ae5e-899684021f02', N'Welcome', 1, 0, CAST(N'2016-12-07 12:22:04.207' AS DateTime), NULL, CAST(N'2016-12-09 02:32:13.100' AS DateTime), NULL, NULL, NULL, 1, CAST(N'2016-12-14 00:09:25.123' AS DateTime), 0, NULL)
INSERT [dbo].[Notifications] ([Id], [FromId], [ToId], [Message], [IsRead], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [ReceiverDeleted], [ReceiverDeletedDate], [SenderDeleted], [SenderDeletedDate]) VALUES (N'b996b854-f96b-4138-8ef0-3e7cdd6aae27', N'ca5b916b-9754-4a57-ae5e-899684021f02', N'ca5b916b-9754-4a57-ae5e-899684021f02', N'hhh', 0, 0, CAST(N'2016-10-05 15:55:58.140' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2016-10-05 16:09:40.690' AS DateTime), 0, NULL)
INSERT [dbo].[Permissions] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'4b0d3c6d-1a10-46e4-8f45-02c8b050fcb5', N'User-Delete', 0, CAST(N'2016-12-05 11:43:04.817' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Permissions] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'3eff050c-3341-4600-8fea-04395983bbf3', N'User-Create', 0, CAST(N'2016-12-05 11:42:55.573' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Permissions] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'c31beebd-b6ba-4cf0-bf49-092316128075', N'Survey-View', 1, CAST(N'2016-12-05 11:39:45.337' AS DateTime), CAST(N'2016-12-05 11:40:47.457' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionAnswers] ([Id], [QuestionId], [Answer], [OrderNumber], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'42cebd84-1e4f-4488-8b5c-1d7d6cb27a2c', N'9857ab68-864b-4891-bb7e-37d8b5c6f771', N'Male', 1, 0, CAST(N'2016-12-14 08:27:50.717' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionAnswers] ([Id], [QuestionId], [Answer], [OrderNumber], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'915c55d0-3bb1-47dd-9069-346131aa11f9', N'9857ab68-864b-4891-bb7e-37d8b5c6f771', N'Female', 2, 0, CAST(N'2016-12-14 08:27:50.807' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionAnswers] ([Id], [QuestionId], [Answer], [OrderNumber], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'3e7732e8-f259-4a92-8708-3e0e75441ea5', N'333bb21b-07cb-4f2d-a122-c7429cfe78ae', N'Ice Cream', 2, 0, CAST(N'2016-12-20 16:42:00.683' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Content], [Number], [QuestionTypeId], [TimeLength], [SurveyId], [IsFreeText], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Count], [IsScale], [FontColor], [FontSize]) VALUES (N'2111f82c-9618-4c15-a2d3-0d1030c3d291', N'Hello?', 1, N'c8e86a89-1e6c-4c07-b258-7ac72a5829d4', CAST(N'00:00:03' AS Time), N'163d3ade-f712-4692-8736-9b8b082c8839', 1, 0, CAST(N'2016-12-17 00:00:01.600' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, 0, NULL, 0)
INSERT [dbo].[Questions] ([Id], [Content], [Number], [QuestionTypeId], [TimeLength], [SurveyId], [IsFreeText], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [Count], [IsScale], [FontColor], [FontSize]) VALUES (N'5bfccf68-933d-4344-85be-1f344f69a4d2', N'a', 1, N'30a88b2b-64fb-494a-b04a-ed5d51c66244', CAST(N'00:00:03' AS Time), N'01f0f81a-be98-492d-af58-d35528ea6f0e', 1, 0, CAST(N'2016-12-20 16:40:47.760' AS DateTime), NULL, CAST(N'2016-12-20 16:49:51.663' AS DateTime), NULL, NULL, NULL, 0, 0, N'rgb(51, 51, 51)', 30)
INSERT [dbo].[QuestionTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'1fa370a1-0b8a-49d4-90d7-3224020ebfe2', N'Rating', 1, CAST(N'2016-10-17 15:49:31.123' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'c8e86a89-1e6c-4c07-b258-7ac72a5829d4', N'Plain', 0, CAST(N'2016-10-17 15:47:45.080' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'39e20e6a-2f5a-4584-abe4-81284d9d95f7', N'Checkbox', 0, CAST(N'2016-09-28 12:32:01.367' AS DateTime), NULL, CAST(N'2016-10-17 15:50:58.813' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Respondents] ([Id], [BrowserName], [IPAdress], [IsRegistered], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [SurveyId], [UserId]) VALUES (N'41e7d89a-45f4-4647-b929-4e22bcc16277', N'Chrome 55', N'192.168.0.23', 0, 0, CAST(N'2016-12-19 20:45:29.503' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'8c85639c-5a10-4503-9a18-56a9331c3380', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Respondents] ([Id], [BrowserName], [IPAdress], [IsRegistered], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [SurveyId], [UserId]) VALUES (N'96d1e635-45fd-4705-892e-dc2ae4ff40ca', N'Chrome 55', N'172.16.174.161', 1, 0, CAST(N'2016-12-20 17:03:32.057' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'01f0f81a-be98-492d-af58-d35528ea6f0e', N'ca5b916b-9754-4a57-ae5e-899684021f02')
INSERT [dbo].[Responses] ([Id], [User_Id], [QuestionId], [ResponseAnswer], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [RespondentId]) VALUES (N'da6d7706-e187-41db-8446-2d8f6ddfc2c2', NULL, N'5bfccf68-933d-4344-85be-1f344f69a4d2', N'5a60da25-6d6c-49c0-8063-c825dc7cca57', 0, CAST(N'2016-12-20 17:03:32.173' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'96d1e635-45fd-4705-892e-dc2ae4ff40ca')
INSERT [dbo].[Responses] ([Id], [User_Id], [QuestionId], [ResponseAnswer], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [RespondentId]) VALUES (N'8051b52b-8a71-4f68-be4b-40fd6827f8c4', NULL, N'333bb21b-07cb-4f2d-a122-c7429cfe78ae', N'3e7732e8-f259-4a92-8708-3e0e75441ea5', 0, CAST(N'2016-12-20 17:03:32.460' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'96d1e635-45fd-4705-892e-dc2ae4ff40ca')
INSERT [dbo].[Responses] ([Id], [User_Id], [QuestionId], [ResponseAnswer], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [RespondentId]) VALUES (N'38d18989-9b85-4837-8866-4406e4f53224', NULL, N'9857ab68-864b-4891-bb7e-37d8b5c6f771', N'42cebd84-1e4f-4488-8b5c-1d7d6cb27a2c', 0, CAST(N'2016-12-19 20:45:29.740' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'41e7d89a-45f4-4647-b929-4e22bcc16277')
INSERT [dbo].[Roles] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'a82cf0b2-b900-4a27-8930-76a3fca52311', N'User', 0, CAST(N'2016-09-22 23:10:08.520' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'1c170040-7c80-4085-8c1f-8632269bfcd3', N'Admin', 0, CAST(N'2016-09-22 23:23:39.433' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Surveys] ([Id], [Title], [UserId], [SurveyTypeId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [IsBlock], [Description], [IsCompleted]) VALUES (N'db275de9-ed8b-4c02-85df-089de473fc84', N'Sample', N'ca5b916b-9754-4a57-ae5e-899684021f02', N'c7b09eaa-2a95-417f-9d36-2a0b2d978414', 0, CAST(N'2016-12-13 19:41:32.640' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, N'This is sample survey', 0)
INSERT [dbo].[Surveys] ([Id], [Title], [UserId], [SurveyTypeId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [IsBlock], [Description], [IsCompleted]) VALUES (N'8c85639c-5a10-4503-9a18-56a9331c3380', N'Sidang', N'ca5b916b-9754-4a57-ae5e-899684021f02', N'c7b09eaa-2a95-417f-9d36-2a0b2d978414', 0, CAST(N'2016-12-14 08:23:55.600' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, N'Ini contoh untuk sidang', 0)
INSERT [dbo].[Surveys] ([Id], [Title], [UserId], [SurveyTypeId], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId], [IsBlock], [Description], [IsCompleted]) VALUES (N'163d3ade-f712-4692-8736-9b8b082c8839', N'test', N'ca5b916b-9754-4a57-ae5e-899684021f02', N'c7b09eaa-2a95-417f-9d36-2a0b2d978414', 0, CAST(N'2016-12-16 23:59:42.770' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, N'test', 0)
INSERT [dbo].[SurveyTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'a2196bcd-fb21-4ad6-a2b6-276b11863caa', N'b', 1, CAST(N'2016-09-28 12:57:59.393' AS DateTime), CAST(N'2016-09-28 12:59:48.057' AS DateTime), CAST(N'2016-09-28 12:59:37.050' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SurveyTypes] ([Id], [Type], [IsDeleted], [CreatedDate], [DeletionDate], [ModifiedDate], [CreatedUserId], [DeletionUserId], [ModifiedUserId]) VALUES (N'c7b09eaa-2a95-417f-9d36-2a0b2d978414', N'Questionaire', 0, CAST(N'2016-08-29 11:09:38.517' AS DateTime), NULL, CAST(N'2016-08-29 11:10:02.910' AS DateTime), NULL, NULL, NULL)
/****** Object:  Index [IX_PermissionId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_PermissionId] ON [dbo].[Accesses]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Accesses]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_ImageId] ON [dbo].[Animates]
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[Animates]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[Cities]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageTypeId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_ImageTypeId] ON [dbo].[Images]
(
	[ImageTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionAnswers]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionTypeId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionTypeId] ON [dbo].[Questions]
(
	[QuestionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SurveyId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_SurveyId] ON [dbo].[Questions]
(
	[SurveyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[Responses]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RespondentId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_RespondentId] ON [dbo].[Responses]
(
	[RespondentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Responses]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SurveyTypeId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_SurveyTypeId] ON [dbo].[Surveys]
(
	[SurveyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Surveys]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[Users]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 18/04/2017 20:18:41 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Accesses_dbo.Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accesses] CHECK CONSTRAINT [FK_dbo.Accesses_dbo.Permissions_PermissionId]
GO
ALTER TABLE [dbo].[Accesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Accesses_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accesses] CHECK CONSTRAINT [FK_dbo.Accesses_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Animates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Animates_dbo.Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[Animates] CHECK CONSTRAINT [FK_dbo.Animates_dbo.Images_ImageId]
GO
ALTER TABLE [dbo].[Animates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Animates_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Animates] CHECK CONSTRAINT [FK_dbo.Animates_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.ImageTypes_ImageTypeId] FOREIGN KEY([ImageTypeId])
REFERENCES [dbo].[ImageTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.ImageTypes_ImageTypeId]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionAnswers] CHECK CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.QuestionTypes_QuestionTypeId] FOREIGN KEY([QuestionTypeId])
REFERENCES [dbo].[QuestionTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.QuestionTypes_QuestionTypeId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Surveys_SurveyId] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[Surveys] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Surveys_SurveyId]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Responses_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_dbo.Responses_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Responses_dbo.Respondents_RespondentId] FOREIGN KEY([RespondentId])
REFERENCES [dbo].[Respondents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_dbo.Responses_dbo.Respondents_RespondentId]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Responses_dbo.Users_UserId] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_dbo.Responses_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Surveys_dbo.SurveyTypes_SurveyTypeId] FOREIGN KEY([SurveyTypeId])
REFERENCES [dbo].[SurveyTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_dbo.Surveys_dbo.SurveyTypes_SurveyTypeId]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Surveys_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_dbo.Surveys_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
USE [master]
GO
