
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finish</title>
    <link href="~/Content/assets/css/Survey.css" rel="stylesheet">
</head>
<body>
    <div class="window-preview">
        <div class="Finish-Background">
        </div>
        <div class="Finish-Text">
            <p>Thank you for your <br />feedback...</p>
        </div>
        <div class="finish-question"></div>
    </div>


    <script src="~/Content/assets/plugins/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/scripts/Survey.js"></script>
</body>
</html>
